.admin-page{
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
}
.welcom-admin{
    margin-right: auto;
    padding-left: 100px;
    font-size: 48px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #222222;
    mix-blend-mode: normal;
    color: #223D7A;;
}
.log-out{

    margin-left: auto;
    padding-right: 100px;
    
}
.button-log{
    background: #FF8A41;
    box-shadow: 0px 4px 16px rgba(38, 52, 70, 0.12);
    border-radius: 4px;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 11px 40px;
    border: none;
}
.table-admin{
    padding: 10px 100px;
}
.colum-admin{
    font-size: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #222222;
    mix-blend-mode: normal;
    color: #223D7A;
}
.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 2px;
    color: red !important;
}