.login-background{
  background-image: url("../../src/assets/images/login-background.svg") ;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.login-content{
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(38, 52, 70, 0.1);
  border-radius: 2px;
  margin-right: 18%;
  padding: 51px 36px 68px 36px;
  text-align: center;
  width: 350px;
  margin-bottom: 56px;
}
.header-text{
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #263446;
  margin-bottom: 48px;
  font-family: 'SVN-Sofia Pro Medium';
}
.input-login{
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 24px;
  height: 48px;
}
.error-text{
  color: #FD5C63;
}
.login-content a{
  color: #FD5C63;
  text-decoration: none;
}
.input-login-content{
  margin-bottom: 36px;
}
.button-submit:focus{
  outline: none;
}
.button-submit:disabled {
  background-color: burlywood;
}
.button-submit{
  background: #FD5C63;
  box-shadow: 0px 8px 16px rgba(38, 52, 70, 0.1);
  border-radius: 24px;
  margin-top: 36px;
  width: 100%;
  height: 48px;
  color: white;
  font-family: 'SVN-Sofia Pro Medium';
}
.content{
  padding: 10%;
}
.input-login-content.input-password{
  margin-bottom: 16px;
}
.forget-password{
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #FD5C63 !important;
  cursor: pointer;
}
.forget-background{
  background-image: url("../assets/images/forgot-password.svg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}